.body {
    margin: 0;
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.main-container:hover .box:nth-child(even) {
    width: 200px;
    transition: ease-in-out 4s;
    transform: rotate(360deg);
   }
.box {
    height: 50px;
    width: 50px;
    background-color: blue;
    margin: 0 0 10px 0;
}

