body {
    width: 100%;
    margin:  auto;
    display:block; 
}


main {
    margin: 0;
    height: 450px;
    background-image: url(./beautiful\ cosmic\ picture.jpg);
    color: blue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;
    font-size: 40px;
}

section {
    display: flex;
    height: 324px;
    flex-direction: row;
    justify-content: space-between;
    background-color: orange; 
    margin-top: 20px;
    
    
   
    }
article {
padding: 10px;
margin: 10px;
width: 270px;
background-color: orange
}
.parent {
    display: flex;
    width: 80%;
    margin: auto;
    background-color: aqua;
    padding: 20px 0;
    justify-content: space-between
}
.my-parent-element {
    display: flex;
    /* other rules go here */
  }
  h1 {
    text-align: center;
    color: blue;
    /* line-height: 500px; */
    margin: 0;
 }
.whitebar{
background: white;
width:850px;
height: 40px;
padding: 16;

}

@media (max-width: 640px){
    section { 
        flex-direction: column;
    }

}
