body{
   padding: 20px;
   height: 170;
   width: auto;
   background-color:rgb(12, 215, 201);
   font-family: 'Shadows Into Light', cursive;
   color: maroon;
   border: 70px solid maroon;
   text-align: auto;
   font-size: 16px;
   }
form{
    margin-left: left;
    margin-right: left;
    max-width: 200px;
}
@media (min-width: 600px) {
    .column {
      color: blue;
    }
  }