body {
	display: center;
	justify-content: right;
	align-items: right;
	min-height: 100vh;
	box-sizing: border-box;
	color: rgb(4, 41, 2);
	font-family: 'Patua One', bold;
	font-size: 22px;
	

}

.container {
	display: flex;
	width: 30vw;
	height: 60vh;
	flex-wrap: wrap;
	box-sizing: border-box;
	border: 10px solid rgb(228, 30, 23);
	border-radius: 2px;
	align-content: flex-start;

	
}
.cell {
	color: rgb(25, 0, 255);
	background-color: rgb(14, 89, 230);
	display: flex;
	justify-content: center;
	align-items: right;
	flex: 1 1 21%;
	border: 3px solid lightgray;
	height: left;
	width: left;
	font-size: 6vh;		
}

.operator {
	background-color: rgb(2, 31, 15);
	color: rgb(134, 74, 34);
}

.top2 {
	flex: 1 1 40%;
}

.result {
	flex: 1 1 60%;
	display: flex;
	justify-content: flex-end;
	background-color: rgb(237, 8, 19);
	color: slategrey;
}
.image {
	width: auto;
	height: auto;
}

.Background {
	width: auto;
	height: auto;
}

@media (min-width: 600px) {
  .column {
    color: blue;
  }
@media (min-width: 600px) {
  .column {
    color: blue;
  }
}
h1 {
	margin: 50px;
	height: 52px;
	color:rgb(141, 39, 1);
	border: 15pt;
	border-style: solid;
	border-width: 4px;
	border-top-width: 5px;
	padding: 19px;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	border: 20px solid blue;
}
h2 {
border: solid;
width: auto;
height: 100px;
padding: 50px;
width: 100px;
color: red;
}
.myUL {
display: flex;
border: solid;
font-size: 50pt;
border: rgb(23, 0, 128);
}
.calculator {
	display: right;
	align-items: right;
	justify-content: center;
	color: rgb(0, 51, 255);

}
.clock {
	border: rgb(117, 117, 230);
	

	
}
form {
	border: 10px;
}